.card-content {
    &__item {
        width: 50%;

        button {
            padding: 0px;
        }
    }
}

.company-info-modal {
    width: 60%;
    min-width: 250px;
    max-Width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 24px;
}

@media (max-width: 700px) {
    .MuiGrid-root .MuiGrid-container .card-content {
        flex-direction: column;

        &__item {
            width: 100%;
            text-align: center;
        }
    }
}
