@font-face {
    font-family: 'TTFirs';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/TTFirs-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/TTFirs-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/TTFirs-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/TTFirs-BlackItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 100;
    font-style: italic;
    src: url('../fonts/TTFirs-ThinItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/TTFirs-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/TTFirs-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/TTFirs-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/TTFirs-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/TTFirs-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/TTFirs-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/TTFirs-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/TTFirs-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/TTFirs-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 200;
    font-style: italic;
    src: url('../fonts/TTFirs-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs-HairlineItalic';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/TTFirs-HairlineItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/TTFirs-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'TTFirs-Hairline';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/TTFirs-Hairline.woff2') format('woff2');
}
