.MuiButton-root, .MuiTypography-root {
    font-family: 'TTFirs', sans-serif !important;
}

.MuiOutlinedInput-root, .MuiInputBase-root {
    font-family: 'TTFirs', sans-serif !important;
}

.MuiMenuItem-root, .MuiButtonBase-root {
    font-family: 'TTFirs', sans-serif !important;
}

.MuiInputLabel-root, .MuiInputLabel-formControl {
    font-family: 'TTFirs', sans-serif !important;
}

.MuiPaper-root, .MuiAlert-root {
    font-family: 'TTFirs', sans-serif !important;
}

.MuiTableCell-root {
    font-family: 'TTFirs', sans-serif !important;
}

.MuiTablePagination-selectLabel {
    font-family: 'TTFirs', sans-serif !important;
}

.MuiTablePagination-displayedRows {
    font-family: 'TTFirs', sans-serif !important;
}
