<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Docs</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="./static/build.js"></script>
    <br>
    Все API находится на
    <a href="http://185.221.152.242:5480/api/">http://185.221.152.242:5480/api/</a>
  <pre>

Для работы с API необходимо получить Bearer токен. Он получается при авторизации и используется
во всех остальных запросах:
POST /api/user/login
| {
| 	 "username" : "user2",
| 	 "password" : "u2"
| }
Ответ:
{
  "access_token": "e5c7b3c1-d1e9-4adc-992f-3108b54dffb8",
  "user_role": "user"
}
Токен отправляется в заголовке, как показано ниже:
GET /api/user/current
Authorization: Bearer a18ffc42-6159-4da2-ba47-3bbcf4bed922

Основные ендпойнты:
POST
/user/login
{
  "username" : Имя пользователя,
  "password" : Пароль
}
Возвращает токен аутентификации

GET
/user/logout'
Вылогинивает пользователя.

GET
/user/current'
Выборка информации о текущем пользователе

GET
/company/props
Выборка кастомных свойств компании

POST
/company/props
{
    "changed_params": [
        {
            "id": "7",
            "value": "X12355"
        },
        {
            "id": "8",
            "value": 1000
        }
    ]
}
Изменение кастомных свойств компании

GET
/company/frame
Выборка стандартных свойств компании

POST
/company/frame
{"company_name":"ОАО КОпыта",
 "inn":"321321321",
"markets":["AgroTech"],
"okved_dop":"62.09;82.99",
"okved_osn":"62.10",
"srvs":["Ментор/ консультант для поддержки развития бизнеса"],
"study":"Ранний рост",
"techs":["Биотехнологии"]}
Изменение стандартных свойств компании


GET
/ref/services
Выборка списка сервисов

GET
/ref/markets
Выборка списка рынков

GET
/ref/techs
Выборка списка технологий

GET
/ref/study
Выборка списка стадий


GET
/candapi/algor
Выборка рекомендуемого списка партнеров

GET
/candapi/algor/all
Выборка рекомендуемого списка партнеров, включая неактивные

GET
/quest
Вызов опросника для выбора необходимых сервисов

POST
/quest
{
  "Вы ищете инвесторов для своего бизнеса?":1,
  "Вы хотите возместить затраты на инжиниринг за счёт субсидирования? ":0,
  "Вы ищете грантовую поддержку вашего проекта?":1,
  "Вам необходима поддержка в выводе на рынок нового продукта?":1,
  "Вы собираетесь масштабировать свой бизнес?":0
}
работа алгоритма по выбору сервисов

GET
/findservs
работа алгоритма по выбору сервисов исходя из истории сделок

GET
/listserv
общий список сервисов, отфильтрованный по параметрам. Параметры:
      type - высвечиваемый тип сервисов
      search - часть символьной строки для поиска
      offset - смещение
      limit - лимит (для пагинации)

GET
/listservtypes
      Типы сервисов (массив строк)

GET
/tunealgor
      Список алгоритмов для настройки

POST
/tunealgor
      Настройка параметров алгоритмов. Пример JSON:
      [
	{
		"id":1,
		"weight": 0.8,
		"is_enabled" : 1
	},
	{
		"id":3,
		"weight": 1.5,
		"is_enabled" : 0
	}
]

GET
/servtext
      Выборка корпуса текстов для определенного сервиса. serv_id - какой именно сервис

GET
/servcond
      Алгоритм поиска релевантных слов в корпусе текстов, serv_id - какой именно сервис

GET
/servgraph
      Алгоритм построения графа семантических ядер для текстов, serv_id - какой именно сервис

POST
/updater
      Ендпойнт для апдейта рейтинга

таблицы БД
----------
rs_algorythms
  Здесь регистрируются алгоритмы ранжирования партнеров
rs_comp_doms
  Значения рынков, технологий, стадии, сервисов для компании
rs_comp_prop_values
  Значения свойств компании-стартапа
rs_companies
  Список компаний-стартапов
rs_domains
  Перечислимые списки значений (рынков, технологий, стадии, сервисов для компании)
rs_properties
  Пользовательские свойства (компаний и партнеров)
rs_property_groups
  Группы свойств
rs_quest
  Опросник для определения нужд стартапа
rs_service_doms
  Значения рынков и т.д. для партнеров
rs_service_texts
  Корпусы текстов для анализа партнеров
rs_services
  Общий список партнеров, предоставляющих сервисы
rs_sessions
  Сессии пользователей системы
rs_users
  Пользователи системы
      </PRE>
<br>
  <a href="http://185.221.152.242:8180/">Демонстрационная версия проекта</a><br>
  Пользователь: user3/u3

  </body>
</html>
