.app-header {
    display: flex;
    align-items: center;
    position: sticky;
    max-height: var(--header-height);
    min-height: var(--header-height);
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 0 20px;
}
