.accordion-item {
    width: 100%;
}

.accordion-details {
    .accordion-field {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.company-properties-form {
    width: 100%;
    padding-top: 16px;

    .form-header {
        padding-bottom: 16px;
        text-align: center;
    }
}
