@import './assets/styles/fonts';

* {
    box-sizing: border-box;
    position: relative;

    --header-height: 60px;
    --footer-height: 40px;
    --primary-color: #0458fe;
    --secondary-color: #24314a;
    --info-color: #e1e4f4;
    --error-color: #ff1f55;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #f5f7fa;
    font-family: 'TTFirs', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: calc(100% - var(--header-height) - var(--footer-height));
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a, button, input {
    &:focus {
        outline: none;
    }
}

.close-button {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
    color: #979797;
    margin: 0px;
    outline-width: 0px;
    padding: 0px;
    z-index: 5;
}
